---
import Layout from '@/layouts/Layout.astro';

import { client } from '@/clients/contentful'
import type { TypePageSkeleton, TypeNavigationSkeleton } from '@/content_types'

import Page from '@/components/Page.astro'
import Logo from '@/components/Logo.astro';
import Menu from '@/components/Menu.astro';

const page = (await client.getEntries<TypePageSkeleton, "WITHOUT_UNRESOLVABLE_LINKS">({
  content_type: "page",
	"fields.id": "contact",
	include: 3,
})).items[0]

const navigation = (await client.getEntries<TypeNavigationSkeleton, "WITHOUT_UNRESOLVABLE_LINKS">({
  content_type: "navigation",
	"fields.id": "navigation",
})).items[0]

const bottomNavigation = (await client.getEntries<TypeNavigationSkeleton, "WITHOUT_UNRESOLVABLE_LINKS">({
  content_type: "navigation",
	"fields.id": "contact",
})).items[0]

let counter = Astro.cookies.has("counter") ? Astro.cookies.get("counter").number() : 0
---

<Layout title={page.fields.title}>
	<Menu title={page.fields.title} {navigation} />
	<main>
		<Page {page} {navigation} {bottomNavigation} color={navigation.fields.links.find(link => link.fields.destination === `/${page.fields.id}`)?.fields.color} {counter} />
	</main>
</Layout>

<style lang="scss">
	
	h1 {
		// font-family: $display;
	}
</style>
