---
import Layout from '@/layouts/Layout.astro';

import { client } from '@/clients/contentful'
import type { TypePageSkeleton, TypeNavigationSkeleton } from '@/content_types'

import Page from '@/components/Page.astro'
import Logo from '@/components/Logo.astro';
import Menu from '@/components/Menu.astro';

const page = (await client.getEntries<TypePageSkeleton, "WITHOUT_UNRESOLVABLE_LINKS">({
  content_type: "page",
	"fields.id": "home",
	include: 3,
})).items[0]

const navigation = (await client.getEntries<TypeNavigationSkeleton, "WITHOUT_UNRESOLVABLE_LINKS">({
  content_type: "navigation",
	"fields.id": "navigation",
})).items[0]

let counter = 0

if (Astro.cookies.has("counter")) {
  const cookie = Astro.cookies.get("counter")
  counter = (cookie.number() + 1) % 4
}

Astro.cookies.set("counter", counter.toString(), { path: '/' })
---

<Layout title={page.fields.title}>
	<Menu index {navigation} />
	<main>
		<Page {navigation} {page} index {counter}  />
	</main>
</Layout>

<style lang="scss">
	
	h1 {
		// font-family: $display;
	}
</style>
