---
import type { Entry } from 'contentful'
import type { TypePlaylistSkeleton } from '@/content_types'

import Audio from '@/components/Audio.svelte'

interface Props {
  item: Entry<TypePlaylistSkeleton, "WITHOUT_UNRESOLVABLE_LINKS">
}
const { item } = Astro.props;
const one = item.fields.audioFiles.length === 1
---

<figure>
  <center>
    <h2>{item.fields.title}</h2>
  </center>

  <ol class:list={{ one }}>
    {item.fields.audioFiles.map(media => <li class={one ? "h1" : "h2"}>
      <Audio {media} play={one} client:visible />
    </li>)}
  </ol>
  
  <center>
    <a href={item.fields.link} target="_blank">{item.fields.linkLabel}</a>
  </center>
</figure>

<style lang="scss">
  figure {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: $phone) {
      
    }

    center {
      padding: $base * 2;

      @media (max-width: $phone) {
        padding: ($base * 2) $base;
      }

      h2 {
        @media (max-width: $phone) {
          font-size: $base * 1.5;
        }
      }
    }

    ol {
      list-style: none;
      padding-left: 0;
      width: 100%;
      max-width: $base * 33;
      margin: auto;

      @media (max-width: $phone) {
        padding: 0 $base;
      }

      li {
        @media (max-width: $phone) {
          font-size: $base * 1.5;
        }

        audio {
        }

        :global(button) {
          text-align: left;
          padding: ($base * 2) 0;
          width: 100%;
          border-bottom: 1px solid;

          &:hover,
          &:focus {
            text-decoration: none;
          }
        }
      }

      &.one {
        li {
          :global(button) {
            border-bottom: none;
            justify-content: center;
          }
        }
      }
    }
  }
</style>